@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #ef4444;
  --color-background-dark: #000000;
}

@layer base {
  body {
    @apply bg-background-dark text-slate-100;
  }
}
